body {
    font-family:Helvetica,Arial,sans-serif;
    TEXT-ALIGN: center;
}

body, p {
    color:#000000;
    font-size:10pt;
    font-weight:normal;
    line-height:1.3;
}

.form-header {
    background:#79A41C none repeat scroll 0 0;
    border-bottom:1px solid #F0F0F0;
    border-top:1px solid #F0F0F0;
    margin-bottom:6px;
    padding:0 12px;
    
}

.form-header p {
    color:#FFFFFF;
    font-weight:bold;
}

.form-block {
    padding:6px;
}

.form-buttons {
    border-bottom:1px solid #CCCCCC;
    margin-top:6px;
    padding:10px;
    text-align:center;
}

.steplabel {
    color:black;
    float:left;
    font-weight:bold;
    margin-right:4px;
    text-align:right;
    width:15%;
}

.copyright {
    padding-bottom:2px;
    padding-top:2px;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:10px;
    text-align:center;
    background-color:#FFFFCE;
}